      /*---------*/
        /*CSS RESET
        /*---------*/
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /*---------------*/
        /*GENERAL STYLING
        /*----------------*/

        :root {
            --greenLight: #EAF3EB;
            --grey: #1f1f1f;
            --black: #000000;
            --greyMedium: #494949;
            --white: #ffffff;
            --greyLight: #bdbdbd;
            --greenHighlight: #ACEBB3;

        }
        

        html {
            scroll-behavior: smooth;
            font-size: 10px;
        }

        h1, h2, h3 {
            margin-top: 0;
            margin: 0;
        }

        p {
            line-height: 1.6 !important;
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        body {
            background: var(--greenLight);
            font-family: 'Bebas Neue', sans-serif;
            color: #000000;
            font-size: 1.6rem;
        }


        /*-------------------------------*/
        /*STYLING THE MOBILE HAMBURGER NAV
        /*-------------------------------*/

        .hamburger {
            display: none;
            cursor: pointer;
            background: #02470a;
            padding: 0.6rem 1.4rem;
        }

        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background: #ffffff;
        }

      
        /*---------------------*/
        /*STYLING THE NAVIGATION
        /*---------------------*/

        header.header {
            padding: 6rem 2rem;
        }

        section.header__wrapper {
            display: flex;
            justify-content: space-between;
            max-width: 118rem;
            margin: 0 auto;
            align-items: center;
        }

        a.logo {
            font-size: 2.4rem;
            display: flex;
            align-items: center;
            gap: 0.7rem;
            color: var(--grey);
        }

        .logo::before {
            content: url(/Images/logo-icon.png);
            line-height: 0.8;
        }

        a.btn__primary {
            font-size: 2rem;
        }

        ul.nav__list {
            list-style: none;
            display: flex;
            gap: 3.3rem;
            color: var(--greyMedium);
            font-size: 1.8rem;
        }

        a.nav__link.active {
            color: #000000;
        }

        a.nav__link {
            transition: all 0.3s;
        }


        a.nav__link:hover {
            color: #000000;
        }

        a.btn__primary {
            background: var(--black);
            color: var(--white);
            padding: 0.8rem 3.1rem;
            transition: all 0.3s;
        }

        a.btn__primary:hover {
            background: #02470a;
        }

      


        /*------------------------*/
        /*STYLING THE MAIN SECTION
        /*------------------------*/

        section.hero {
            padding: 6rem 2rem;
        }

        section.hero__wrapper {
            display: flex;
            justify-content: flex-start;
            max-width: 118rem;
            margin: 0 auto;
            gap: 3rem;
            position: relative;
        }

        h1.content__heading {
            font-size: 14rem;
            max-width: 46rem;
            line-height: 0.9;
        }

        section.content {
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }

        a.content__cta {
            font-size: 4rem;
            display: flex;
            align-items: center;
            gap: 2rem;
            width: fit-content;
            transition: all 0.3s;
            opacity: 1;
        }

        a.content__cta:hover {
            opacity: 0.7;
        }

        a.content__cta:hover::after {
            transform: translateX(1rem);
        }


        a.content__cta::after {
            content: url(/Images/arrow.svg);
            transition: all 0.3s;
        }

        span.heading__span {
            position: relative;
            z-index: 1;
        }

        span.heading__span::after {
            content: "";
            display: block;
            width: 100%;
            height: 7.4rem;
            background: var(--greenHighlight);
            position: absolute;
            z-index: -1;
            bottom: 5.1rem;
            right: 0;
            left: 0;
        }

        section.images {
            display: flex;
            gap: 3.3rem;
      
        }

        p.card__title {
            font-size: 2rem;
        }

        section.card {
            background: #ffffff;
            padding: 2.6rem;
            height: fit-content;
            box-shadow: 8px 8px 45px 0px rgba(31, 31, 31, 0.10);
        }

        img.card__img {
            width: 100%;
        }

        section.cardRow {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        section.cardBottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        section.cardBottom__right {
            display: flex;
            gap: 1rem;
        }

        section.cardRow__right {
            text-align: right;
        }

        span.card__highlight {
            position: relative;
            z-index: 1;
           
        }

        span.card__highlight::after {
            content: "";
            display: block;
            width: 100%;
            height: 1rem;
            background: var(--greenHighlight);
            position: absolute;
            z-index: -1;
            bottom: 0.6rem;
        }

        p.cardRow__item {
            font-size: 1.4rem;
            color: #747474;
        }

        p.cardRow__price {
            font-size: 1.4rem;
            color: #747474;
        }

        p.views {
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }

        p.views:before {
            content: url(/Images/eye-icon.svg);
            line-height: 1;
        }
        
        p.likes {
            font-size: 1.2rem;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            gap: 0.3rem;
        }

        p.likes:before {
            content: url(/Images/heart-icon.svg);
            line-height: 1;
        }
        
        p.collect {
            font-size: 1.2rem;
        }

        p.cardRow__eth {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 0.6rem;
        }

        p.cardRow__eth::before {
            content: url(/Images/eth-icon.svg);
            line-height: 1;
        }

        .progress {
            display: block;
            height: 0.2rem;
            width: 100%;
            background: #ACEBB3;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .progress::after {
            content: "";
            display: block;
            height: 0.2rem;
            width: 27%;
            background: #000000;
            z-index: 11111;
        }

        section.card.absolute {
            position: absolute;
            bottom: -10rem;
            right: 0;
        }


        /*-----------------*/
        /*STYLING THE FOOTER
        /*-----------------*/

        footer.footer {
            padding: 5rem 2rem;
            background: var(--grey);
            color: var(--white);
        }


        section.footer__wrapper {
            display: flex;
            max-width: 118rem;
            margin: 0 auto;
            gap: 8rem;
            flex-wrap: wrap;
        }

        p.footerContent__number {
            font-size: 4rem;
        }

        p.footerContent__copy {
            font-size: 2rem;
            color: var(--greyLight);
        }




        /*-----------*/
        /*MEDIA QUERY
        /*-----------*/

        @media (max-width: 1280px) {
            h1.content__heading {
                font-size: 10rem;
            }

            span.heading__span::after {
                height: 4.4rem;
                bottom: 3.1rem;
             
            }

            section.card {
                padding: 2rem;
            
            }

        }

        @media (max-width: 920px) {
            section.hero__wrapper {
                flex-direction: column;
            }
            
            h1.content__heading {
                max-width: 100%;
            }

        }

        @media (max-width: 768px) {
            .hamburger {
                display: block;
                margin-left: 2rem;
            }

            nav.nav {
                display: none;
            }

            
            section.btn {
                margin-left: auto;
            }

            section.card.absolute {
                position: relative;
                bottom: 0;
            }
            
            section.images {
                justify-content: space-between;
            }

        }

    
        @media (max-width: 500px) {
            section.images {
                flex-wrap: wrap;
                gap: 2rem;
            }

            section.card {
                width: 100%;
            }

            h1.content__heading {
                font-size: 10rem;
            }
            
            section.hero {
                padding: 4rem 2rem;
            }
            
            span.heading__span::after {
                height: 4.4rem;
                bottom: 3.1rem;
              
            }

            a.content__cta {
                font-size: 3rem;
            
            }

            section.footer__wrapper {
                gap: 4rem;
                
            }
                        
        }

        @media (max-width: 375px) {
            a.btn__primary {
                display: none;
            }

            h1.content__heading {
                font-size: 8rem;
            }

            span.heading__span::after {
                height: 3.4rem;
            }
        }

        @media (max-width: 320px) {
        
            }

      